.container {
  display: flex;
  margin-right: -40px;

  align-items: center;

  .editButton {
    height: fit-content;
    width: 32px;
    aspect-ratio: 1/1;
    margin-inline-start: 8px;

    padding: 2px;


    svg {
      height: 12px;
      aspect-ratio: 1/1;
    }
  }
}