// colors
$neutral_1: #F7F7F5;
$neutral_2: #D7D7D7;
$neutral_3: #A6A6A6;
$neutral_4: #707070;
$neutral_5: #2F2F2F;

$primary_1: #d8f3d8;
$primary_2: #a4d4a4;
$primary_3: #78b678;
$primary_4: #4d944d;
$primary_5: #3a703a;

$secondary_1: #FAD5C3;
$secondary_2: #F9B28E;
$secondary_3: #EE8550;
$secondary_4: #EB6D2E;
$secondary_5: #D64F0B;

$info_error: #CC0000;
$info_warning: #F2BD33;
$info_ok: #007BFF;
