@import "@/styles/theme.scss";

.container {
  .separator {
    margin: 24px 0 32px;
    ;
  }

  .content {
    padding: 8px;

    background-color: $neutral_1;
    border: 1px solid $neutral_5;
  }

  .footer {
    display: flex;
    margin-top: 32px;

    padding: 0 16px;
    justify-content: space-between;

    .navigationButton {
      display: flex;
      height: 32px;
      aspect-ratio: 1/1;

      justify-content: center;
      align-items: center;

      &.hidden {
        visibility: hidden;
      }
      
      svg {
        height: 24px;
        aspect-ratio: 1/1;
      }
    }

  }
}