@import "@/styles/theme.scss";

.container {
  .separator {
    margin: 24px 0 32px;
    ;
  }

  .content {
    padding: 8px;

    background-color: $neutral_1;
    border: 1px solid $neutral_5;
  }
}