@import "@/styles/theme.scss";

.container {
  .courseName {
    display: flex;

    align-items: center;
    &>* {
      margin-right: 16px;
    }
  }
  .lessons {
    .createButton {
      display: flex;
      height: 50px;
      width: 200px;
      margin: 8px;
  
      justify-content: center;
      align-items: center;
  
      color: $neutral_5;
      text-decoration: none;
      font-size: 32px;
      border-radius: 8px;
      background-color: $primary_1;
      transition: all .3s;
  
      &:hover {
        filter: brightness(0.9);
      }
    }

    .lessonList {
      display: flex;

      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  .schedule {
    * {
      box-sizing: content-box;
    }
  }
}