@import "@/styles/theme.scss";

.actionsContainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;

  .actionCard {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 16px;

    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $primary_1;
    border-radius: 4px;
    color: $neutral_5;
    text-decoration: none;

    &:hover {
      filter: brightness(90%);
    }

    svg {
      height: 30px;
      width: 30px;

      margin: 8px;
    }

    .actionCardTitle {
      margin: 8px;

      font-size: 16px;
    }
  }
}