@import "@/styles/theme.scss";

.container {
  min-height: 100vh;
  width: 100%;

  background-image: url("../../../public/images/website-background.png");
  background-repeat: repeat;

  .content {
    height: 100%;
    padding: 32px;
  }
}