@import "@/styles/theme.scss";

.container {
  min-height: 100vh;
  width: 100%;

  background-image: url("../../../public/images/website-background.png");
  background-repeat: repeat;

  .content {
    height: 100%;
    width: 100vw;

    padding: 0 32px;

    @media (max-width: 767px) {
      padding: 0 16px;
    }
  }
}
