@import "@/styles/theme.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  position: fixed;
  padding: 8px;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);

  background-color: $neutral_1;
  border-radius: 4px;
}