@import "@/styles/theme.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    background-color: $primary_5;
    color: black;

    h1 {
        margin: 0;
    }
}