@import "@/styles/theme.scss";

.container {
  display: flex;
  height: 64px;

  align-items: center;
  padding: 0 8px;

  background-color: $primary_5;
  color: $neutral_1;

  a {
    color: $neutral_1;
  }

  .mainLogo {
    height: 40px;
    width: 40px;


    svg {
      height: 100%;
      width: 100%;
    }
  }

  .title {
    margin: 0 0 0 16px;

    font-size: 24px;
    font-weight: 400;
  }

  .burgerIcon {
    height: 30px;
    width: 30px;
    margin-left: auto;

    cursor: pointer;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .navigationContainer {
    position: absolute;
    display: flex;
    top: 64px;
    right: 0px;
    max-width: 0px;
    z-index: 2;

    flex-direction: column;
    overflow-x: hidden;

    background-color: $neutral_1;
    border-left: 1px solid $neutral_2;
    border-bottom: 1px solid $neutral_2;
    transition: max-width .3s;

    &.open {
      max-width: 300px;
    }

    a {
      color: $neutral_5;
      text-decoration: none;
    }

    .navigationItem {
      display: flex;

      justify-content: center;
      align-items: center;
      padding: 8px 24px;

      font-size: 16px;

      &:hover {
        background-color: $primary_1;
      }
    }
  }
}