@import "@/styles/theme.scss";

.container {
    display: flex;
    height: 64px;

    align-items: center;
    padding: 0 8px;

    background-color: $primary_5;
    color: $neutral_1;

    .mainLogo{
        height: 40px;
        width: 40px;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .title {
        margin: 0 0 0 16px;

        font-size: 24px;
        font-weight: 400;
    }

    .burgerIcon {
        height: 30px;
        width: 30px;
        margin-left: auto;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .navigationContainer {
        position: absolute;
        display: flex;
        top: 64px;
        right: 0px;
        width: 100%;
        max-width: 0px;
        
        flex-direction: column;
        overflow-x: hidden;

        background-color: $primary_1;
        border-radius: 8px;

        transition: max-width .3s;

        
        .navigationItem {
            display: flex;
            
            justify-content: center;
            align-items: center;
            padding: 16px;

            font-size: 24px;
            
            a {
                color: $neutral_5;
                text-decoration: none;
            }

            &:hover {
                background-color: $primary_2;
            }

            &:first-child {
                padding-top: 24px;
            }

            &:last-child {
                padding-bottom: 24px;
            }
        }

        &.open {
            max-width: 500px;
        }
    }
}
